{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1>salut</h1>

    <a href="{{ path('app_login') }}" class="btn btn-success">log in</a>
    <a href="{{ path('app_register') }}" class="btn btn-success">register</a>
{% endblock %}
